@import '../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../app/Filament/**/*';
@source '../../../resources/views/filament/**/*';

@source '../../../vendor/tomatophp/filament-artisan/resources/views/**/*.blade.php';
