@import 'tailwindcss';

@import '../../../../../vendor/filament/filament/resources/css/theme.css';
@custom-variant dark (&:where(.dark, .dark *));

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../vendor/tomatophp/filament-artisan/resources/views';
